<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @dumpster.post.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @dumpster.user.username %>
</p>

<%= link_to 'Edit', edit_dumpster_path(@dumpster) %> |
<%= link_to 'Back', dumpsters_path %>
