<div class="row">
  <div class="col-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="profile-posted-tab" data-toggle="tab"
           href="#profilePosted" role="tab" aria-controls="profilePosted" aria-selected="true">Posted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-shared-tab" data-toggle="tab"
           href="#profileShared" role="tab" aria-controls="profileShared" aria-selected="false">Shared</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-commented-tab" data-toggle="tab"
           href="#profileCommented" role="tab" aria-controls="profileCommented" aria-selected="false">Commented</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-upvoted-tab" data-toggle="tab"
           href="#profileUpvoted" role="tab" aria-controls="profileUpvoted" aria-selected="false">Upvoted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-downvoted-tab" data-toggle="tab"
           href="#profileDownvoted" role="tab" aria-controls="profileDownvoted" aria-selected="false">Downvoted</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profilePosted" role="tabpanel" aria-labelledby="profile-posted-tab">
        <%= render(partial: 'posts/small_post', collection: @user.posts, as: :post) \
                    || "User has no posts" %>
      </div>
      <div class="tab-pane fade" id="profileShared" role="tabpanel" aria-labelledby="profile-shared-tab">
        <%= render(partial: 'posts/small_post', collection: @user.shared_posts, as: :post) \
                    || "User hasn't shared any post" %>
      </div>
      <div class="tab-pane fade" id="profileCommented" role="tabpanel" aria-labelledby="profile-commented-tab">
        <%= render(partial: 'posts/small_post', collection: @user.commented_posts, as: :post) \
                    || "User hasn't commented in any post" %>
      </div>
      <div class="tab-pane fade" id="profileUpvoted" role="tabpanel" aria-labelledby="profile-upvoted-tab">
        <%= render(partial: 'posts/small_post', collection: @user.voted_posts(:up), as: :post) \
                    || "User hasn't upvoted any posts" %>
      </div>
      <div class="tab-pane fade" id="profileDownvoted" role="tabpanel" aria-labelledby="profile-downvoted-tab">
        <%= render(partial: 'posts/small_post', collection: @user.voted_posts(:down), as: :post) \
                    || "User hasn't downvoted any posts" %>
      </div>
    </div>
  </div>
  <%# Profile  %>
  <div class="col-4">
    <div class="bg-light rounded text-center">
      <div class="">
        <% if @user.profile.avatar.attached? %>
          <%= image_tag url_for(@user.profile.avatar), class: 'img-fluid rounded-circle' %>
        <% else %>
          <%= image_tag 'profile-placeholder.gif', class: "img-fluid rounded-circle", alt: "avatar" %>
        <% end %>
      </div>
      <div class="d-inline-block text-primary">
        <h2><%= @user.user_profile.name %></h2>
      </div>
      <div class="">
        <% if @current_user == @user %>
          <%= link_to "Edit my account", edit_user_path(@user), class: 'btn btn-warning btn-sm' %>
        <% else %>
          <button type="button" class="btn btn-success btn-sm">Follow</button>
        <% end %>
      </div>
      <% if can? :manage, Blacklist%>
        <div class="">
          <%= button_to 'Send to Blacklist', {controller: 'blacklists', action: 'create', blacklist: { user_id: @user.id,
          start_date: Date.today , end_date: Date.today + 7}}, method: :post, class: 'btn btn-warning btn-sm' %> </div>
      <% end %>

      <div>
        <h3 class="h3 text-center">Bio</h3>
        <div class="border border-light">
          <%= @user.user_profile.bio %>
        </div>
      </div>
    </div>
  </div>
</div>
