<%= form_with(model: admin_geofence, local: true) do |form| %>
  <% if admin_geofence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_geofence.errors.count, "error") %> prohibited this admin_geofence from being saved:</h2>

      <ul>
      <% admin_geofence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
