<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :decription %>
    <%= form.text_area :decription %>
  </div>

  <div class="field">
    <%= form.label :is_resolved %>
    <%= form.check_box :is_resolved %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :location_latitude %>
    <%= form.text_field :location_latitude %>
  </div>

  <div class="field">
    <%= form.label :location_longitude %>
    <%= form.text_field :location_longitude %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :is_open %>
    <%= form.check_box :is_open %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
