<div id="mapid" style="height: 200px;"></div>

<script>
    var initialized = false;
    var mymap;
    var marker;

    $('#locationCollapseBtn').on('click', function () {
        if (!initialized) initialize_map();
        initialized = true;
    });

    function initialize_map() {
        var myIcon = L.icon({
            iconUrl: '<%= resolve_image_source 'marker-icon.png', nil %>',
            shadowUrl: '<%= resolve_image_source 'marker-shadow.png', nil %>',
            iconSize: [25,41],
            iconAnchor: [12,41],
            popupAnchor: [0, -41],
        });
        mymap = L.map('mapid').setView([-33.455819, -70.641091], 10);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '<%= ENV["MAPBOX_TOKEN"] %>'
        }).addTo(mymap);
        marker = L.marker([-33.455819, -70.641091], {icon: myIcon}).addTo(mymap);
        marker.bindPopup("<a href='/'>Post's title1</a><br>Creator");
        setTimeout(function(){mymap.invalidateSize()}, 300);

        marker.setLatLng({lat: <%= post.location_latitude %>, lng: <%= post.location_longitude %>});
        mymap.setView(marker.getLatLng(), 10);
    }
</script>