<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative"
     id="<%= post.anchor %>">
  <div class="col p-4 d-flex flex-column position-static card">
    <div class="d-inline-block mb-2 text-primary">
      <% if post.user.profile.avatar.attached? %>
        <%= image_tag url_for(post.user.profile.avatar), class: 'rounded float-left img-fluid img-thumbnail mr-1', width: 20, height: 20, alt: 'avatar' %>
      <% else %>
        <%= image_tag 'profile-placeholder.gif', class: 'rounded float-left img-fluid img-thumbnail mr-1', width: 20, height: 20, alt: 'avatar' %>
      <% end %>
      <%= link_to post.user.username, user_path(post.user) %>
      <div class="float-right dropdown dropleft">
        <a  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= octicon "kebab-horizontal" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if can? :update, post%>
            <%= link_to 'Edit', edit_post_path(post), class: 'dropdown-item' %>
            <%= link_to 'Delete', edit_post_path(post), class: 'dropdown-item' %>
          <% end %>
          <% if can? :manage, Dumpster  %>
            <% if post.dumpster %>
              <%= button_to 'Revive', dumpster_path(post.dumpster), method: :delete, class: 'dropdown-item' if can? :dump, post%>
            <% else %>
              <%= button_to 'Dump', {controller: 'dumpsters', action: 'create', dumpster: { post_id: post.id, user_id: @current_user.id} },
                            method: :post, class: 'dropdown-item' if can? :dump, post%>
            <% end %>
              <% else %>
            <%= link_to 'Flag', new_post_flag_path(post), class: 'dropdown-item' %>
          <% end %>
          <% if @current_user && @current_user.follow_posts.include?(post) %>
            <%= link_to 'Unfollow', '#', class: 'dropdown-item' %>
          <% elsif @current_user && @current_user != post.user %>
            <%= link_to 'Follow', '#', class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
      <%= render partial: 'shared/open_closed', locals: {post: post, html_class: 'float-right'} %>
      <%= render partial: 'user_shareds/share_post', locals: {post: post, user: @current_user} if @current_user %>
    </div>
    <div style="transform: rotate(0);">
      <%= link_to '', post_path(post), class: 'stretched-link' %>
      <h3 class="mb-0"><%= truncate post.description, length: 60 %></h3>
      <div class="mb-1 text-muted">
        <% if post.created_at.year == DateTime.now.year %>
          <%= post.created_at.strftime("%b %d") %>
        <% else %>
          <%= post.created_at.strftime("%m/%d/%y") %>
        <% end %>
      </div>
      <p class="card-text mb-auto"> <%#= truncate post.content, length: 250 %>
        <%= MarkdownParser.new(truncate(post.content.lines[0], length: 250)).markdown_to_html %>
      </p>
    </div>
    <div class="mb-0 mt-2">
      <span class='votes text-primary'><%= post.score %></span>
      <span class='text-secondary'>points</span>
      <span class='comments text-primary'><%= post.comments.count %></span>
      <span class='text-secondary'>
        <%= link_to 'comments', post_path(post, anchor: 'comments'), class: 'text-secondary' %>
      </span>
      <%= render partial: 'votes/up_down_vote', locals: {user: @current_user, post: post} unless @current_user.nil? %>
    </div>
<!--    <a href="#" class="stretched-link">Continue reading</a>-->
  </div>
  <div class="col-auto d-none d-lg-block">
    <% if post.main_picture.attached? %>
      <%= image_tag post.main_picture, alt: 'main', class: 'card-img-top img-responsive', style: 'width: 200px;height: 250px;' %>
    <% end %>
  </div>
</div>