<%# TODO: this is only temporal, should refractor to only one view fragment (for 3 user options)%>
<%# TODO: fill navbar %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SAPO", root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Wall
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Hot ", posts_path(:order => 'hot'), class: "dropdown-item" %>
          <%= link_to "Controversial ", posts_path(:order => 'controversial'), class: "dropdown-item" %>
          <%= link_to "Recent ", posts_path(:order => 'recent'), class: "dropdown-item" %>
          <%= link_to "Top ", posts_path(:order => 'top'), class: "dropdown-item" %>
        </div>
        <li class="nav-item active">
          <%= link_to "Post's Map", map_path, class: 'nav-link' %>
        </li>
      <% if @current_user && !@current_user.admin? %>
        <li class="nav-item active">
          <%= link_to "Following", following_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'My Profile', profile_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <% if can? :create, Post %>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to new_post_path, class: 'nav-link mr-4' do %>
          <%= octicon "plus" %> <span class="align-middle">Create Post</span>
        <% end %>
      </li>
    </ul>
    <% end %>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
    <%= simple_form_for :search, url: search_path, method: "GET", html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
      <%= f.input :q, input_html: {value: ""}, label: '.', required: false %>
      <%= f.submit "Search", class: "btn btn-outline-success ml-2" %>
    <% end %>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <% if @current_user %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Signup", user_path('sign_up'), class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>